@import '../../styles/font-face.css';
@import '../../styles/variables.scss';

header.header-text {
  font: $app-header-text $app-primary-text, Arial, Verdana, sans-serif;
  text-align: center;
  background: $background-image;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 25vh auto 0 auto;
  height: 100vh
}

img.profile-img {
  width: $profile-img-size;
  height: $profile-img-size;
}
