
$app-purple: #B721FF;
$app-light-blue: #21D4FD;
$app-dark-blue: #6A86FE;
$background-color: #21D4FD;
$background-image: linear-gradient(30deg, #21D4FD 0%, #B721FF 100%);

$app-white: #ffffff;
$app-black: #000000;
$app-grey: #979797;

$app-header-text: 5rem;
$section-header-text: 2rem;
$app-primary-text: 'Amatic SC';
$app-secondary-bold-text: 'Josefin Slab Bold';

$profile-img-size: 200px;

$progress-bar-border-radius: 9px;
//$progress-bar-border: 1px solid $app-grey;
$progress-bar-border: 0;
$progress-bar-height: 0.5rem;

